<!DOCTYPE html>
<html lang="en">
<head>
{% extends 'Main_Page.html' %}
    {% block head %}
        {{ block.super }}
         <style>
         .user_history {
            padding: 20px;
            border-bottom: 1px solid #333;
            transition: background-color 0.3s, box-shadow 0.3s;
        }

        .user_history:hover {
            background-color: #252525;
            box-shadow: 0 0 20px 5px #A60000;
        }

        .user_history div {
            color: #ccc;
            margin-bottom: 10px;
        }
         </style>
        {% endblock %}
</head>
<body>
{% block main_content %}
<main>
    {% for item in History %}
        <div class="user_history">
            <div>{{item.client}}</div>
            <div>{{item.booster}}</div>
            <div>{{item.order_data}}</div>
            <div>{{item.order_status}}</div>
            <div>{{item.order_payment_data.amount}}</div>
        </div>
    {% endfor %}
  <script>
  </script>
</main>
{% endblock %}
</body>
</html>
