<!DOCTYPE html>
<html lang="en">
<head>
{% extends 'Main_Page.html' %}
    {% block head %}
        {{ block.super }}
         <style>
         </style>
        {% endblock %}
</head>
<body>
{% block main_content %}
<main>
    {% for item in History %}
        <div class="user_history">
            <div>{{item.client}}</div>
            <div>{{item.booster}}</div>
            <div>{{item.order_data}}</div>
            <div>{{item.order_status}}</div>
            <div>{{item.order_payment_data.amount}}</div>
        </div>
    {% endfor %}
  <script>
  </script>
</main>
{% endblock %}
</body>
</html>
