<!DOCTYPE html>
<html lang="en">
<head>
{% extends 'Main_Page.html' %}
    {% block head %}
        {{ block.super }}
         <style>
            <style>
                footer {
                background-color: #333;
                color: white;
                text-align: center;
                padding: 1em;
                position: fixed;
                bottom: 0;
                width: 100%;
            }
    </style>
    {% endblock %}
</head>
<body>
{% block main_content %}
<main>
  <script>
  </script>
</main>
{% endblock %}
</body>
<footer>
    <p>&copy; 2024 FlexBook. All rights reserved.</p>
</footer>
</html>



